.footer {
    background-color: $dark-color;
    margin-top: 3rem;
    color: $light-color;
    
    &__container {
        padding: 3rem 0;
    }

    &__main {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 1.5rem;

        @include respond(phone) {
            grid-template-columns: 1fr;
            text-align: center;
        }

        .logo {
            margin-bottom: .5rem;
        }

        ul {
            li {
                list-style: none;
                padding: .5rem 0;
                border-bottom: 1px solid lighten($dark-color, 10);
            }
        }

        input {
            padding: .25rem;
            margin: .5rem 0;
            width: 80%;
        }

    }

    &__copyright {
        margin-top: 2rem;
        padding: 1rem;
        background-color: lighten($dark-color, 5);
        font-size: smaller;
        text-align: center;
    }

}