.logo {
    height: 35px;
    width: 150px;
}

.header {
    &__nav {
        display: grid;
        grid-template-columns: 3fr 1fr 1fr;
        padding: 2rem 0 1rem;
        align-items: center;

        @include respond(tab-port) {
            grid-template-columns: 1fr;
            
            .logo, &-list {
                justify-self: center;
                margin-bottom: .25rem;
            }

        }

        &-links {
            @include respond(tab-port) {
                display: none;
            }
        }

        &-link {
            text-decoration: none;
            color: #777;
            padding: 0 .25rem;
        }
        
        &-item {
            display: inline-block;
            text-decoration: none;
            padding: 1rem;
            color: $dark-color;
            cursor: pointer;

            &:hover {
                background-color: $primary-color;
                padding: 1rem;
                color: $light-color;
            }

        }

    }

    &__hero {
        height: 65vh;
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0.5)) ,url("../../../img/featured.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        color: $light-color;

        &-outer {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            justify-content: center;
            align-items: center;
            height: 100%;
        }

        &-container {
            h1{
                text-transform: uppercase;
                margin-top: 1rem;
            }

            p {
                margin-bottom: 1rem;
                line-height: 1.5;
            }
        }

    }
}