* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $light-color;
    font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Staatliches', cursive;
    padding-bottom: .55rem;
    line-height: 1.2;
}

h3 {
    padding-top: 1rem;
}