@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Staatliches&display=swap');

$primary-color: #c72727;
$secondary-color: #f99500;
$light-color: #f3f3f3;
$dark-color: #333;
$max-width: 1200px;
$sports-color: #f99500;
$ent-color: #a66bbe;
$tech-color: #009cff;